<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

        <!--第2步
        在配置类中添加Context命名空间（复制beans标签的第一行，修改成下面）
        xmlns:context="http://www.springframework.org/schema/context"

        复制最后一行的网址，将beans修改为context 放入
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd

        -->


    <!--第三步：
        在配置文件中，给Spring框架指定要扫描哪些类
    -->
<!--    <context:component-scan base-package="com.nanhang.Study02.Bean"/>-->

    <!--如果需要扫描多个同等级的包
    方法1：使用,将包路径分隔开
    方法2：路径修改为两个包的父包（会损失程序效率）
    -->
    <!--方法1-->
    <context:component-scan base-package="com.nanhang.Study02.Bean,com.nanhang.Study02.Bean02"/>

    <!--方法2-->
<!--    <context:component-scan base-package="com.nanhang.Study02"/>-->


</beans>