<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--实验set注入 list/set/Map/properties集合-->

    <bean id="SetList" class="com.nanhang.Bean.Set05.SetList">
<!--        注入list集合 list集合有序可重复-->
        <property name="stringList">
            <list>
                <value>张三</value>
                <value>李四</value>
                <value>王五</value>
            </list>
        </property>
        <property name="stringSet">
            <!--        注入set集合 set集合无序不可重复-->
            <set>
                <value>王五</value>
                <value>李四</value>
                <value>张三</value>
            </set>
        </property>
        <property name="integerStringMap">
            <map>
                <entry key="1" value="张三"/>
                <entry key="2" value="李四"/>
                <entry key="3" value="王五"/>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="张三">你好</prop>
                <prop key="李四">你好</prop>
            </props>
        </property>
        <!--注意如果注入的是Bean类型数据，参考前面学习的配置简单数据类型和复杂数据类型，使用ref-->
    </bean>
</beans>